{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'check_page' test_id %}" method="post">
        {% csrf_token %}
        <input type="text" name="number" value="" maxlength="2" size="2">
        <button type="submit" class="site-btn">Enter Right Number</button>
    </form>
{% endblock content %}
{% block content2 %}
    {% for guess in guesses %}
        <p class="fs-5 text-muted">{{ guess.psychic.username }}: {{ guess.number }}</p>
    {% endfor %}
{% endblock content2 %}