{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'create_page' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="site-btn">Make a Guess</button>
    </form>
{% endblock content %}
{% block content2 %}
    <h1 class="display-4 fw-normal">Your Tests History</h1>
    {% for custom_test in history %}
        {% if custom_test.number is None %}
            <p class="fs-5 text-muted"><a href="{% url 'check_page' custom_test.id %}">Waiting for your response.</a></p>
        {% else %}

{#            <h3 class="fs-5 text-muted">{{ custom_test.number }}</h3>#}
            <ul class="list-group">
            <li class="list-group-item active" aria-current="true">{{ custom_test.number }}</li>
            {% for g in custom_test.guesses.all %}
                <li class="list-group-item"><a href="#{{ g.psychic.id }}">{{ g.psychic.username }}</a>({{ g.psychic.rating }}%) answer is {{ g.number }}. {% if g.right %}<strong>It's True!</strong>{% endif %}</li>
            {% endfor %}
            </ul>
            <br/>
        {% endif %}

    {% endfor %}

<h1 class="display-4 fw-normal">All Psychics History</h1>
    {% for physics in physics %}
        <p class="fs-5 text-muted"><strong><a name="{{ physics.id }}">{{ physics.username }}
            (rating: {{ physics.rating }}%)</strong>:
            {% for guess in physics.guesses.all %}{{ guess.number }}({{ guess.right }}) {% endfor %}</p>
        <hr/>
    {% endfor %}
{% endblock content2 %}