<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестирование экстасенсов!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container py-3">
  <header>
  </header>
    <main>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            {% block content %}{% endblock content %}
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            {% block content2 %}{% endblock content2 %}
        </div>
        </main>
</div>
</body>
</html>